{% extends 'base.html' %}
{% block title %}{{product_id}} - {{product_name}}{% endblock %}
{% block content %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-ceneo" href="{{url_for('product', product_id=product_id, product_name=product_name)}}"><i class="bi bi-chat-right-text-fill"></i></a>
    </div>  
    <div class="text-center">
        <img src="{{url_for('static', filename='images/charts/'+product_id+'_pie.png')}}" alt="Rozkład rekomendacji w opiniach o produkcie" class="img-fluid img-thumbnail">
        <img src="{{url_for('static', filename='images/charts/'+product_id+'_bar.png')}}" alt="Rozkład rekomendacji w opiniach o produkcie" class="img-fluid img-thumbnail">
    </div>

{% endblock %}